<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>


<body>
    {{>header}}
    <div class="main-content">
        <p>This site was created by Joel Muir. It gathers data from Mapbox and Dark Sky.</p>
    <img class ="portrait"src="/img/user.png">
    <p>{{age}}</p>
    
    </div>
    {{>footer}}
</body>

</html>