<!DOCTYPE html>

<html>

<head>
    
    <title>Weather</title>
    
</head>

<link rel="stylesheet" href="/css/styles.css">



<body>
    {{>header}}
    <div class="main-content">    
        
        <p>Weather here! Get your weather! 2 weathers for a pound!</p>

        <form>
            <input placeholder="Enter Location">
            <button >Search</button>
        </form> 

        <p id="message-one"></p>
        <p id="message-two"></p>
    </div>

    
    {{>footer}} 
    <script src="/js/app.js"></script>  
</body>


</html>